body{
  text-align: center;  
  padding: 10px 10px 20px 10px;
  border: 1px solid #BFBFBF;
  background-color: #c7ecee;
  box-shadow: 10px 10px 5px #aaaaaa;
  background-repeat:5;
  background-attachment: fixed;
  align-content: 80%;
  
    
}
img {
    padding: 10px 10px 20px 10px;
    width: 400px;
    height: 300px;
    border: 8px solid #BFBFBF;
    border-style:ridge;
    
    
  
    
    
}

.audio{
  background-color: lightblue;
  color: black;
  padding: 20px;
  
}
h1{
  padding: 10px 10px 20px 10px;
  border: 5px solid #BFBFBF;
  background-color: white;
  box-shadow: 10px 10px 5px #aaaaaa;
  color:black;  

  
}

:link{
    font-size:30px;
    padding: 10px 10px 20px 10px;
    border: 5px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    color:black;     
}

a:hover 
 {font-size: larger


} 


div.sound {
    width: 60px;
    height: 50px;
    border: 10px solid black;
    box-shadow: 5px 5px 5px #aaaaaa;
    background-color: white;
    float:right;
    position: relative;
    
    
    
}
.username{
    background-color:antiquewhites;
    border: 5px solid #BFBFBF;
    border-style:outset;
    color:darkcyan;
    font-family:serif;
    font-size: 60px;
    float:right;
    
}
   
}

.header{
  background-color: lightblue;
  color: black;
  padding: 30px;
  text-align: center; 
    
}
.reading-box{
    
    font-size:30px;
    padding: 10px 10px 20px 10px;
    border: 5px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    color:black;
}
.day-box{
    
   font-size:30px;
    padding: 10px 10px 20px 10px;
    border: 5px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    color:black;
}

.assignment_link{
    
    font-size:30px;
    padding: 10px 10px 20px 10px;
    border: 5px solid #BFBFBF;
    background-color: white;
    box-shadow: 10px 10px 5px #aaaaaa;
    color:black;
}
